<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DovePlatUserMapper">
  <resultMap id="BaseResultMap" type="com.licc.dove.security.vo.DovePlatUserVO">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="user_id" property="userId" jdbcType="BIGINT"/>
    <result column="plat" property="plat" jdbcType="VARCHAR"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>

  </resultMap>
  <sql id="Base_Column_List">
      id,user_id,user_name,plat
  </sql>

  <select id="findList" parameterType="Object" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>

    from dove_plat_user t
    WHERE delete_flag = 0
    and plat = #{plat}
    <if test="userName !=null and userName != ''">
      AND user_name like CONCAT('%', #{userName, jdbcType=VARCHAR}, '%')
    </if>
  </select>


</mapper>