<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DoveResourceMapper">
  <resultMap id="BaseResultMap" type="com.licc.dove.security.vo.DoveResourceVO">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="path" property="path" jdbcType="VARCHAR"/>
    <result column="plat" property="plat" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="anonymous" property="anonymous" jdbcType="BIT"/>
    <result column="require_authority" property="requireAuthority" jdbcType="BIT"/>
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List">
    t.id,t.parent_id,t.name,t.path,t.plat,t.anonymous,t.require_authority,t.remark,t.delete_flag
  </sql>

  <select id="findList" parameterType="Object" resultMap = "BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    ,t1.name as parentName
    from  dove_resource t
    LEFT JOIN dove_resource t1 on t.parent_id = t1.id  and t1.delete_flag = 0
    WHERE t.delete_flag = 0
    and t.plat = #{plat}
    <if test="parentId !=null">
      AND  t.parent_id = #{parentId}
    </if>
    <if test="requireAuthority !=null">
      AND  t.require_authority = #{requireAuthority}
    </if>
  </select>


  <select id="getMaxVersionNum" parameterType="Object" resultType="Map">
    select max(version_num)  as versionNum FROM  dove_resource where delete_flag = 0 and plat = #{plat}
  </select>


  <select id="deleteByMaxVersionNum" parameterType="Object" resultType="Long">
    update dove_resource set delete_flag = 1 WHERE   delete_flag = 0 and version_num &lt;&gt; #{maxVersion}  and plat = #{plat}
  </select>

</mapper>